# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- Python
- R
- Scala
- SQL

Some of the popular languages that Data Scientists use are:
1. python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib.pyplot

|Data Science Tools|
|--------------------|
|Pytorch|
|MLFlow|
|Hugging Face|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [21]:
3*4+5

17

This will convert 200 minutes to hours by diving by 60.

In [25]:
Min=200
Hour=Min/60
Hour

3.3333333333333335

## Author
Nam Le